@font-face {
    font-family: "notoserif-rg";
    src: url("asset/Noto_Serif_SC/static/NotoSerifSC-Regular.ttf");
  }

@font-face {
    font-family: "notoserif-light";
    src: url("asset/Noto_Serif_SC/static/NotoSerifSC-Light.ttf");
  }
  
@font-face {
    font-family: "pinyonscript";
    src: url("asset/PinyonScript-Regular.ttf");
    }
    
@font-face {
    font-family: "fathers";
    src: url("asset/Fathers-BF654cd265614b2.otf");
    }

    * {
        margin: 0;
        padding: 0;
    }
    
    
    body {
        background-color: #111;
        color: #fff;
        min-height: 100vh;
    }

a {
    text-decoration: none;
    color: inherit;
    }
    
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "fathers", serif;
    font-size: 24px;
    color: white;
}
    
.c-text {
        font-family: notoserif-rg;
        font-size: 24px;
        color: white;
        text-align: center;
}

.main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 2rem;
        gap: 2rem;
    }

.title {
    font-family: notoserif-light;
    font-weight: 400;
    color: #BB0000;
    font-size: 96px;
    z-index: 2;
    margin-top: 0;
}

.main-image {
    max-width: 497px;
    width: 80%;
    height: auto;
    z-index: 1;
    margin-top: -20px;
}

.subtitle {
    font-family: "pinyonscript", serif;
    color: #BB0000;
    font-size: 200px;
    font-weight: 200;
    font-style: italic;
    z-index: 2;
    margin-top: -160px; 
}

.bottom-txt {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
    font-family: notoserif-rg;
    font-size: 24px;
    color: white;
  }
  


/* Change color for English*/
body.eng {
    background-color: #F5F5F5;  
}

body.eng .nav-item,
body.eng .c-text{
    color: black;  
}

body.eng .bottom-txt .chinese-text {
    font-family: "fathers", serif;
    font-size: 24px;
    color: black;  /* Change text color to black in the bottom text */
}